@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;

  &-regular {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-bold {
    font-weight: 700;
  }

  &-black {
    font-weight: 900;
  }
}

.montserrat {
  &-light {
    font-weight: 300;
  }
}
