footer(class="footer")
  div.footer__container
    .footer__wrapper 
      .footer__content.inter
        .footer__section
          h3.footer__title.inter-bold О компании
          ul.footer__list.inter-regular
            li.footer__list-item 
              a.footer__link(href="#") Партнёрская программа
            li.footer__list-item 
              a.footer__link(href="#") Вакансии
        nav.footer__section.footer__section--nav
          h3.footer__title.inter-bold Меню
          .footer__menu-cols
            ul.footer__list.inter-regular 
              li.footer__list-item 
                a.footer__link(href="#") Расчёт стоимости
              li.footer__list-item 
                a.footer__link(href="#") Услуги
              li.footer__list-item 
                a.footer__link(href="#") Виджеты
              li.footer__list-item 
                a.footer__link(href="#") Интеграции
              li.footer__list-item
                a.footer__link(href="#") Наши клиенты
            ul.footer__list.inter-regular 
              li.footer__list-item 
                a.footer__link.footer__link--desktop(href="#") Кейсы
                a.footer__link.footer__link--mobile(href="#") Благодарность клиентов
              li.footer__list-item 
                a.footer__link.footer__link--desktop(href="#") Благодарственные письма
                a.footer__link.footer__link--mobile(href="#") Кейсы
              li.footer__list-item 
                a.footer__link(href="#") Сертификаты
              li.footer__list-item 
                a.footer__link(href="#") Блог на Youtube
              li.footer__list-item  
                a.footer__link(href="#") Вопрос / Ответ
        .footer__section.footer__section--contact
          h3.footer__title.inter-bold Контакты
          .footer__contact-rows
            p.footer__contact.inter-medium +7 555 555-55-55
            .footer__social
              a.footer__social-link(href="#")
                img(src="../img/icons/telegram.png")
              a.footer__social-link(href="#")
                img(src="../img/icons/viber.png")
              a.footer__social-link(href="#")
                img(src="../img/icons/whatsapp.png")
            p.footer__contact.footer__contact--address.inter-regular Москва, Путевой проезд 3с1, к 902
      .footer__copyright  
        p.footer__copyright-rights ©WELBEX 2022. Все права защищены.
        a.footer__copyright-policies(href="#") Политика конфиденциальности
