header.header
  .header__container
    .header__wrapper
      .header__col.header__col--1
        .header__logo
          img(src="../img/logo_welbex.png" alt="logo" class="header__logo-img")
          p.header__logo-text.montserrat-light крупный интегратор CRM в Росcии и ещё 8 странах
        nav.header__nav.inter.inter-medium
          ul.header__list 
            li.header__list-item  
              a.header__list-link(href="#") Услуги
            li.header__list-item  
              a.header__list-link(href="#") Виджеты
            li.header__list-item  
              a.header__list-link(href="#") Интеграции
            li.header__list-item  
              a.header__list-link(href="#") Кейсы
            li.header__list-item  
              a.header__list-link(href="#") Сертификаты
      .header__contact 
        p.header__phone.inter.inter-medium +7 555 555-55-55
        .header__social 
          a.header__social-link(href="#")
            img(src="../img/icons/telegram.png")
          a.header__social-link(href="#")
            img(src="../img/icons/viber.png")
          a.header__social-link(href="#")
            img(src="../img/icons/whatsapp.png")


