main.content
    .content__container
        .content__wrapper
            .content__col.content__col--1
                div.content__title-container
                    div.content__title-wrapper 
                        h2.inter.inter-regular Зарабатывайте больше
                        h1.inter.inter-black с WELBEX
                    p.content__title-desc Развиваем и контролируем продажи за вас
            .content__col.content__col--2
                div.content__text.inter.inter-medium
                    p
                        span Вместе с&nbsp;
                        span.content__text-highlight.inter-bold бесплатной&nbsp;
                    p
                        span.content__text-highlight.inter-bold консультацией&nbsp;
                        span мы дарим:
                .content__cards
                    .content__cards-col
                        .content__card
                            span.content__card-title.inter.inter-medium Виджеты
                            p.content__card-text 30 готовых решений
                        .content__card
                            span.content__card-title.inter.inter-medium Skype Аудит
                            p.content__card-text отдела продаж и CRM системы
                    .content__cards-col
                        .content__card
                            span.content__card-title.inter.inter-medium Dashboard
                            p.content__card-text с показателями вашего бизнеса
                        .content__card
                            span.content__card-title.inter.inter-medium 35 дней
                            p.content__card-text использования CRM
                .content__cards-mobile
                    .content__cards-mobile-col 
                        p.content__card-mobile Skype аудит
                        p.content__card-mobile Dashboard
                    .content__cards-mobile-col
                        p.content__card-mobile 30 виджетов
                        p.content__card-mobile Месяц аmoCRM
                a.content__link.inter.inter-medium(href="#") Получить консультацию
