doctype html 
html(lang="en")
    include pug/head.pug
    body
        div.wrapper
            .sphere-1 
            .sphere-2 
            .sphere-3 
            .sphere-4
            .sphere-5
            include pug/header.pug 
            include pug/main.pug
            include pug/footer.pug
        include pug/js.pug